#yesBtnContainer {
  text-align: center;
}
#roomName {
  margin: 0;
}
#currentMap {
  margin-top: 15px;
  height: 300px;
}
#yesBtn {
  margin: 15px;
}
#yesBtn .fa-external-link {
  margin-left: 5px;
  font-size: 13px;
}
.navbar {
  margin-bottom: 0px;
}
#suggestion {
  margin: 5px 0 15px 0;
  padding: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 1;
  -ms-flex-preferred-size: 1;
  flex-basis: 1;
  flex: 1 1 0;
}
@media (min-width: 400px) {
  #suggestion {
    padding: 0 5px;
  }
}
.arrow {
  height: 0px;
  cursor: pointer;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 20px;
  -ms-flex-preferred-size: 20px;
  flex-basis: 20px;
  flex: 20px 0 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
}
.arrow:hover {
  background-color: rgba(200, 200, 200, 0.2);
}
.arrow.disabled {
  cursor: default;
  opacity: 0;
}
#mainContainer {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#roomName {
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 200px) {
  #roomName {
    font-size: 14px;
    line-height: 14px;
    font-size: 7vw;
    line-height: 7vw;
  }
}
@media (min-width: 500px) {
  #roomName {
    font-size: 35px;
    line-height: 35px;
  }
}
#computersFreeLabel {
  font-size: 12px;
  line-height: 12px;
}
@media (min-width: 200px) {
  #computersFreeLabel {
    font-size: 12px;
    line-height: 12px;
    font-size: 6vw;
    line-height: 6vw;
  }
}
@media (min-width: 300px) {
  #computersFreeLabel {
    font-size: 18px;
    line-height: 18px;
  }
}
#roomRow,
#computersFreeRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#roomRow #roomNameContainer,
#computersFreeRow #roomNameContainer,
#roomRow #computersFreeLabelContainer,
#computersFreeRow #computersFreeLabelContainer {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 3;
  -ms-flex-preferred-size: 3;
  flex-basis: 3;
  flex: 3 1 0;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  margin: auto;
}
#roomRow #starContainer,
#computersFreeRow #starContainer,
#roomRow #computersFreeGraphContainer,
#computersFreeRow #computersFreeGraphContainer {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 1;
  -ms-flex-preferred-size: 1;
  flex-basis: 1;
  flex: 1 1 0;
  text-align: center;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}
#computersFreeGraph {
  height: 51px;
  width: 51px;
  margin: auto;
}
#computersFreeNumber {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #00aa00;
}
#mapContainer {
  position: relative;
}
#mapContainer #busyAnimation {
  display: none;
  height: 54px;
  width: 54px;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 50%;
  margin-top: -27px;
  margin-right: -27px;
}
#swipeReminder {
  position: relative;
  left: 30px;
  cursor: default;
  opacity: 0;
  -webkit-transition: opacity 0.5s, left, 0.5s;
  -moz-transition: opacity 0.5s, left, 0.5s;
  -o-transition: opacity 0.5s, left, 0.5s;
  transition: opacity 0.5s, left, 0.5s;
  text-align: center;
  font-size: 18px;
  width: 95%;
}
#swipeReminder .fa {
  vertical-align: bottom;
  color: #555555;
}
#swipeReminder #swipeReminderText {
  line-height: 36px;
}
#optionsMenu {
  width: 100%;
  position: fixed;
  background-color: #eeeeee;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
}
#optionsMenu.transitionOff {
  -webkit-transition: top 0s;
  -moz-transition: top 0s;
  -o-transition: top 0s;
  transition: top 0s;
}
#optionsMenu .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
  position: relative;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  border-width: 0 6px 10px 6px;
  border-color: transparent transparent #eeeeee transparent;
  bottom: 10px;
  margin-bottom: -10px;
}
#optionsMenu #optionsTitle {
  height: 40px;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
}
#optionsMenu #optionsTitle .fa-cog {
  margin-right: 5px;
  color: #555;
  cursor: pointer;
}
#optionsMenu.opened .triangle {
  border-width: 10px 6px 0 6px;
  border-color: white transparent transparent transparent;
  bottom: 0px;
  z-index: 1;
}
#optionsMenu #optionsContent {
  margin: 0 10px;
  padding-bottom: 15px;
  text-align: center;
}
#optionsMenu #optionsContent .optionsCategory {
  border-top: solid #ddd 1px;
  margin-bottom: 5px;
}
#optionsMenu #optionsContent .optionsCategory h1 {
  font-size: 20px;
  margin: 5px 0px;
}
#optionsMenu #optionsContent .optionsCategory label {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 0px;
}
#optionsMenu #optionsContent .optionsCategory#sortingOptions > .row {
  margin: 0;
}
#optionsMenu #optionsContent .optionsCategory .campusCheckbox {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding: 6px 2px;
}
#optionsMenu #optionsContent .optionsCategory .campusCheckbox:not(.checked) {
  background-color: #d9534f;
  border-color: #d43f3a;
  opacity: 0.5;
}
#optionsMenu #optionsContent .optionsCategory .campusCheckbox:hover {
  z-index: auto;
}
#optionsMenu #optionsContent .optionsCategory .campusCheckbox:focus {
  z-index: 3;
}
@media (max-width: 374px) {
  #optionsMenu #optionsContent .optionsCategory #holyroodCheckboxDiv {
    display: none;
  }
}
@media (max-width: 290px) {
  #optionsMenu #optionsContent .optionsCategory #lauristonCheckboxDiv {
    display: none;
  }
}
#optionsMenu #optionsContent .optionsCategory #locationCorrectorText:focus {
  z-index: 3;
}
#optionsMenu #optionsContent .optionsCategory #locationCorrectorGo i {
  line-height: 20px;
}
#optionsMenu #optionsContent .optionsCategory #searchWithNewOptionsBtn {
  font-size: 20px;
  margin-top: 20px;
}
body {
  width: 100%;
}
