//out: ../static/pc/css/labsStyling.css

// Center the 'Take me there!' button
#yesBtnContainer{
    text-align: center;
}

//positioning
#roomName{
    margin:0;
}

#currentMap{
    margin-top:15px;
}

#yesBtn{
    margin:15px;
}

#suggestion{
    margin:0;
    padding:0 20px;
}
@media (min-width:400px){
    #suggestion{
        padding:0 25px;
    }
}

//left and right arrow styling and positioning
.arrow{
    position:fixed;
    top:45px;
    height:80%;
    width:20px;
    cursor:pointer;
    .display-inline-flex();
    .justify-content(center);
    .align-items(center);
    &.right-arrow{
        right:0px;
    }
    &.left-arrow{
        left:0px;
    }
    &:hover{
        background-color:rgba(200,200,200,0.2);
    }
    i.fa-chevron-right{
        margin-right:-13px;
    }
    &.disabled{
        display:none;
    }
}


//responsive text size for room name
#roomName{    
    font-size: 14px;
    line-height: 14px;
}
@media (min-width: 200px) {
    #roomName{
        font-size: 14px;
        line-height: 14px;
        font-size: 7vw;
        line-height: 7vw;
    }
}
@media (min-width: 500px) {
    #roomName{
        font-size: 35px;
        line-height: 35px;
    }
}

//responsive text size for computers free label:
#computersFreeLabel{
    font-size:12px;
    line-height: 12px;
}
@media (min-width: 200px) {
    #computersFreeLabel{
        font-size: 12px;
        line-height: 12px;
        font-size: 6vw;
        line-height: 6vw;
    }
}
@media (min-width: 300px) {
    #computersFreeLabel{
        font-size: 18px;
        line-height: 18px;
    }
}

//room and availability row positioning (using flex, unsupported on IE < 10 )
#roomRow, #computersFreeRow{
    .display-flex();
    
    #roomNameContainer, #computersFreeLabelContainer{
        .flex(3,0);
        position:relative;
        min-height:1px;
        padding-left:15px;
        margin:auto;
    }

    #starContainer, #computersFreeGraphContainer{
        .flex(1,0);
        text-align: center;
        position: relative;
        min-height:1px;
        padding-right: 15px;
        padding-left:15px;
        margin:auto;
    }
}

#computersFreeGraph{
    height:50px;
    width:50px;
    margin:auto;
}

#computersFreeNumber{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
    font-weight: bold;
}

// shorthand for all versions of display: flex
.display-flex(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// shorthand for all versions of display: inline-flex
.display-inline-flex(){
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

// shorthand for all versions of flex: a b
.flex(@a, @b){
    -webkit-box-flex: @a;
    -moz-box-flex: @a;
    -webkit-flex: @a;
    -ms-flex: @a;
    flex: @a;
    -webkit-flex-basics: @b;
    flex-basis: @b;
    -ms-flex-preferred-size: @b;
}

//shorthand for all versions of justify-content: a
.justify-content(@a){
    -webkit-box-pack:@a;
    -webkit-justify-content:@a;
    -ms-flex-pack:@a;
    justify-content:@a;
}

//shorthand for all versions of align-items: a
.align-items(@a){
    -webkit-box-align:@a;
    -webkit-align-items:@a;
    -ms-flex-align:@a;
    align-items:@a;
}