.row {
  margin: 0 0 15px;
}
#starContainer,
#roomRow,
#capacityRow,
#availabilityRow,
#facilitiesRow,
#bookBtnContainer,
#openingHoursRow {
  display: none;
}
#toMapBtnContainer,
#switchViewBtnContainer,
#bookBtnContainer {
  text-align: center;
}
#currentMap {
  margin-top: 15px;
  height: 300px;
}
#toMapBtn,
#bookBtn {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  margin: 0 0 15px;
}
#toMapBtn .fa,
#bookBtn .fa {
  margin-left: 5px;
  font-size: 13px;
}
#bookBtnContainer {
  display: none;
}
#switchViewBtn {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  margin: 15px 0px;
}
#switchViewBtn .forwardIcon {
  margin-left: 5px;
}
#switchViewBtn .backIcon {
  margin-right: 5px;
  display: none;
}
.navbar {
  margin-bottom: 0px;
}
#suggestion {
  margin: 5px 0 15px 0;
  padding: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 1;
  -ms-flex-preferred-size: 1;
  flex-basis: 1;
  flex: 1 1 0;
}
@media (min-width: 400px) {
  #suggestion {
    padding: 0 5px;
  }
}
.arrow {
  height: 0px;
  cursor: pointer;
  min-width: 20px;
  max-width: 40px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 4%;
  -ms-flex-preferred-size: 4%;
  flex-basis: 4%;
  flex: 4% 0 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
}
.arrow:hover {
  background-color: rgba(200, 200, 200, 0.2);
}
.arrow.disabled {
  cursor: default;
  opacity: 0;
}
#mainContainer {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#roomName,
#buildingName:not(.subtitle) {
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 200px) {
  #roomName,
  #buildingName:not(.subtitle) {
    font-size: 14px;
    line-height: 14px;
    font-size: 7vw;
    line-height: 7vw;
  }
}
@media (min-width: 300px) {
  #roomName,
  #buildingName:not(.subtitle) {
    font-size: 21px;
    line-height: 21px;
  }
}
@media (min-width: 400px) {
  #roomName,
  #buildingName:not(.subtitle) {
    font-size: 5.25vw;
    line-height: 5.25vw;
  }
}
@media (min-width: 500px) {
  #roomName,
  #buildingName:not(.subtitle) {
    font-size: 26.25px;
    line-height: 26.25px;
  }
}
#buildingNameRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#buildingName.subtitle {
  font-size: 12px;
  line-height: 12px;
}
#buildingName.subtitle:before {
  content: '(';
}
#buildingName.subtitle:after {
  content: ')';
}
@media (min-width: 300px) {
  #buildingName.subtitle {
    font-size: 14px;
    line-height: 14px;
  }
}
@media (min-width: 400px) {
  #buildingName.subtitle {
    font-size: 3.5vw;
    line-height: 3.5vw;
  }
}
@media (min-width: 500px) {
  #buildingName.subtitle {
    font-size: 17.5px;
    line-height: 17.5px;
  }
}
#starContainer .fa-star {
  float: right;
}
#roomsFreeLabel,
#capacityLabel,
#availabilityLabel,
#facilities,
#openingHoursLabel {
  font-size: 12px;
  line-height: 12px;
}
@media (min-width: 200px) {
  #roomsFreeLabel,
  #capacityLabel,
  #availabilityLabel,
  #facilities,
  #openingHoursLabel {
    font-size: 12px;
    line-height: 12px;
    font-size: 6vw;
    line-height: 6vw;
  }
}
@media (min-width: 300px) {
  #roomsFreeLabel,
  #capacityLabel,
  #availabilityLabel,
  #facilities,
  #openingHoursLabel {
    font-size: 18px;
    line-height: 18px;
  }
}
.unavailable {
  font-size: 12px;
  line-height: 12px;
  color: grey;
}
#facilitiesLabel .custom-glyphicon {
  margin: 0 3px;
}
#facilitiesLabel .fa {
  margin: 0 3px;
  font-size: 20px;
}
#roomRow, #computersFreeRow {
  margin: 0 0 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#roomsFreeNumber,
#capacityNumber {
  margin: 0 0 3px 5px;
  font-size: 14px;
  min-width: 30px;
  background-color: #2ea83d;
}
#mapContainer {
  position: relative;
}
#mapContainer #busyAnimation {
  height: 54px;
  width: 54px;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 50%;
  margin-top: -27px;
  margin-right: -27px;
}
#swipeReminder {
  position: relative;
  left: 30px;
  cursor: default;
  opacity: 0;
  -webkit-transition: opacity 0.5s, left, 0.5s;
  -moz-transition: opacity 0.5s, left, 0.5s;
  -o-transition: opacity 0.5s, left, 0.5s;
  transition: opacity 0.5s, left, 0.5s;
  text-align: center;
  font-size: 18px;
  width: 95%;
}
#swipeReminder .fa {
  vertical-align: bottom;
  color: #555555;
}
#swipeReminder #swipeReminderText {
  line-height: 36px;
}
#optionsMenu {
  width: 100%;
  max-width: 1000px;
  position: fixed;
  background-color: #eeeeee;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
}
#optionsMenu.transitionOff {
  -webkit-transition: top 0s;
  -moz-transition: top 0s;
  -o-transition: top 0s;
  transition: top 0s;
}
#optionsMenu .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
  position: relative;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  border-width: 0 6px 10px 6px;
  border-color: transparent transparent #eeeeee transparent;
  bottom: 10px;
  margin-bottom: -10px;
}
#optionsMenu #optionsTitle {
  height: 40px;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
}
#optionsMenu #optionsTitle .fa-cog {
  margin-right: 5px;
  color: #555;
  cursor: pointer;
}
#optionsMenu.opened .triangle {
  border-width: 10px 6px 0 6px;
  border-color: white transparent transparent transparent;
  bottom: 0px;
  z-index: 1;
}
#optionsMenu #optionsContent {
  margin: 0 10px;
  padding-bottom: 15px;
  text-align: center;
}
#optionsMenu #optionsContent .optionsCategory {
  border-top: solid #ddd 1px;
  margin-bottom: 5px;
}
#optionsMenu #optionsContent .optionsCategory h1 {
  font-size: 20px;
  margin: 5px 0px;
}
#optionsMenu #optionsContent .optionsCategory label {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 0px;
}
#optionsMenu #optionsContent .optionsCategory#sortingOptions > .row {
  margin: 0;
}
#optionsMenu #optionsContent .optionsCategory .campusCheckbox,
#optionsMenu #optionsContent .optionsCategory .facilitiesCheckbox {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding: 6px 2px;
}
#optionsMenu #optionsContent .optionsCategory .campusCheckbox:not(.checked),
#optionsMenu #optionsContent .optionsCategory .facilitiesCheckbox:not(.checked) {
  background-color: #d9534f;
  border-color: #d43f3a;
  opacity: 0.5;
}
#optionsMenu #optionsContent .optionsCategory .campusCheckbox:hover,
#optionsMenu #optionsContent .optionsCategory .facilitiesCheckbox:hover {
  z-index: auto;
}
#optionsMenu #optionsContent .optionsCategory .campusCheckbox:focus,
#optionsMenu #optionsContent .optionsCategory .facilitiesCheckbox:focus {
  z-index: 3;
}
@media (max-width: 450px) {
  #optionsMenu #optionsContent .optionsCategory .facilitiesCheckbox {
    font-size: 3.2vw;
  }
}
@media (max-width: 350px) {
  #optionsMenu #optionsContent .optionsCategory .facilitiesCheckbox {
    font-size: 0vw;
  }
}
#optionsMenu #optionsContent .optionsCategory .custom-glyphicon {
  margin: 0 auto 3px;
  display: block;
}
@media (max-width: 374px) {
  #optionsMenu #optionsContent .optionsCategory #holyroodCheckboxDiv {
    display: none;
  }
}
@media (max-width: 290px) {
  #optionsMenu #optionsContent .optionsCategory #lauristonCheckboxDiv {
    display: none;
  }
}
#optionsMenu #optionsContent .optionsCategory #locationCorrectorText:focus {
  z-index: 3;
}
#optionsMenu #optionsContent .optionsCategory #locationCorrectorGo i {
  line-height: 20px;
}
#optionsMenu #optionsContent .optionsCategory #searchWithNewOptionsBtn {
  font-size: 20px;
  margin-top: 20px;
}
body {
  width: 100%;
}
