.btn {
border-top: 1px solid #96d1f8;
background: #65a9d7;
padding: 5px 10px;
border-radius: 8px;
text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
color: white;
font-size: 14px;
font-family: Georgia, serif;
text-decoration: none;
vertical-align: middle;
width: 35px;
cursor: pointer;
margin: 5px;
horizontal-align: right;
float: right;
}