{% extends "core/base.html" %}
{% load staticfiles %}

{% block head %}

{% endblock %}

{% block content %}

<div class="container">
    <p id='roomName'>Appleton Tower</p>
    <p id='campusName'>Central</p>

    <div class="container">
        <div class="swiper-container" id="box">
            <div class="swiper-wrapper" id="innerContent">
                <!--<div class="swiper-slide">Slide 1</div>-->
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <button type="button" class="btn btn-default"> <i class="fa fa-star"></i> Add to favourites</button>

</div>

    {% include "rooms/modal-tutorials.html" %}

{% endblock %}

