{% extends "core/base.html" %}
{% load staticfiles %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'rooms/css/roomsStyling.css' %}">
    <script type='text/javascript' src="{% static 'core/js/makeGraph.js' %}"></script>
    <script type='text/javascript' src="{% static 'rooms/js/roomsScript.js' %}"></script>
    <!-- Amchart code -->
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
    <!-- TouchSwipe code -->
    <script type="text/javascript" src="{% static 'core/js/jquery.touchSwipe.min.js' %}"></script>
    <!-- Google Maps code -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcrXTgUVxfXVLj3rh5gIUWyYRpveHMmEs&region=GB"></script>
    <!-- Bootstrap toggle switch css -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap-switch.min.css' %}">
    <!-- Bootstrap toggle switch js -->
    <script type='text/javascript' src="{% static 'core/js/bootstrap-switch.min.js' %}"></script>
    
{% endblock %} 

{% block content %}

<div id='mainContainer'>
    <div class='arrow left-arrow'>
        <i class="fa fa-chevron-left"></i>
    </div>
    <div id='suggestion'>
        <h1 id='pageTitle'>Tutorial Rooms<i class='fa fa-home'></i></h1>
        <div id='starContainer'>
            <i class="fa fa-star fa-3x unstarred"></i>
        </div>
        <div class="row" id='roomRow'>
            <p id='roomName'></p>
        </div>
        <div class="row" id='buildingNameRow'>
                <p id='buildingName'></p>
        </div>
        <div class="row" id='roomsFreeRow'>
                <div id='roomsFreeLabel'>Rooms available: <span id='roomsFreeNumber' class="badge free"></span></div>
        </div>
        <div class="row" id='capacityRow'>
                <div id='capacityLabel'>Capacity: <span id='capacityNumber' class="badge free"></span></div>
        </div>
        <div class="row" id='availabilityRow'>
                <div id='availabilityLabel'>Available for: <span id='availabilityNumber'></span></div>
        </div>
        <div class="row" id='openingHoursRow'>
                <div id='openingHoursLabel'>Opening hours: <span id='openingHoursValue'></span></div>
        </div>
        <div class="row" id='facilitiesRow'>
                <div id='facilities'>Facilities: <span class="custom-glyphicon glyphicon-computer" aria-hidden="true"></span> <span class="custom-glyphicon glyphicon-printer" aria-hidden="true"></span> <span class="custom-glyphicon glyphicon-projector" aria-hidden="true"></span> <span class="custom-glyphicon glyphicon-whiteboard" aria-hidden="true"></span> <span class="custom-glyphicon glyphicon-blackboard-custom" aria-hidden="true"></span><span class='noFacilities'>None</span></div>
        </div>
        <div id='mapContainer'>
            <img src="{% static 'core/images/busyAnimation.gif' %}" id="busyAnimation">
            <div id='currentMap'> </div>
        </div>
        <div id='switchViewBtnContainer'>
            <a type="button" class="btn btn-success" id='switchViewBtn'><i class="backIcon fa fa-angle-double-left"></i><span class='content'> View rooms </span><i class="forwardIcon fa fa-angle-double-right"></i></a>
        </div>
        <div id='toMapBtnContainer'>
            <a type="button" class="btn btn-success" id='toMapBtn' href=''>Take me there <i class="fa fa-external-link"></i></a>
        </div>
        <div id='bookBtnContainer'>
            <a type="button" class="btn btn-success" id='bookBtn'>Book now <i class="fa fa-external-link"></i></a>
        </div>
        <div id='swipeReminder'><i class='fa fa-long-arrow-left fa-2x'></i> <span id='swipeReminderText'> Swipe left to see next suggestion</span></div>
    </div>
    <div class='arrow right-arrow'>
        <i class="fa fa-chevron-right"></i>
    </div>
</div>
<!-- Needed to prevent options menu covering up important content -->
<div id='padding' style='z-index:-1;height:40px;width:100%;text-align:center;'></div>
<!-- Options menu -->
<div id='optionsMenu'>
    <div class='triangle'></div>
    <div id='optionsTitle'>
        <i class="fa fa-cog"></i>Options
    </div>
    <div id='optionsContent'>
        
        <div id='sortingOptions' class='optionsCategory'>
            <h1>Sort by:</h1>
            <div class='row'>
                <div class='col-xs-6'>
                    <label id='nearbyLabel' for='nearbyCheckbox'>Distance: </label>
                </div>
                <div class='col-xs-6'>
                    <input type='checkbox' id='nearbyCheckbox' checked>
                </div>
            </div>
        </div>
        
        <div id='bookableOptions' class='optionsCategory'>
            <h1>Filter by:</h1>
            <div class='row'>
                <div class='col-xs-6'>
                    <label id='bookableLabel' for='bookableCheckbox'>Bookable: </label>
                </div>
                <div class='col-xs-6'>
                    <input type='checkbox' id='bookableCheckbox' checked>
                </div>
            </div>
            <div class='btn-group btn-group-md btn-group-justified'>
                <div class='btn-group' role='group'>
                    <button type='checkbox' id='pcCheckbox' class='facilitiesCheckbox btn'><span class='custom-glyphicon glyphicon-computer'></span>Computer</button>
                </div>
                <div class='btn-group' role='group'>
                    <button type='checkbox' id='printerCheckbox' class='facilitiesCheckbox btn'><span class='custom-glyphicon glyphicon-printer'></span>Printer</button>
                </div>
                <div class='btn-group' role='group'>
                    <button type='checkbox' id='projectorCheckbox' class='facilitiesCheckbox btn'><span class='custom-glyphicon glyphicon-projector'></span>Projector</button>
                </div>
                <div class='btn-group' role='group'>
                    <button type='checkbox' id='whiteboardCheckbox' class='facilitiesCheckbox btn'><span class='custom-glyphicon glyphicon-whiteboard'></span>Whiteboard</button>
                </div>
                <div class='btn-group' role='group'>
                    <button type='checkbox' id='blackboardCheckbox' class='facilitiesCheckbox btn'><span class='custom-glyphicon glyphicon-blackboard-custom'></span>Blackboard</button>
                </div>
            </div>
        </div>
        
        <div id='campusOptions' class='optionsCategory'>
            <h1>Campuses:</h1>
            <div class='btn-group btn-group-md btn-group-justified'>
                <div class='btn-group' role='group'>
                    <button type='checkbox' id='centralCheckbox' class='campusCheckbox btn'>Central</button>
                </div>
                <div class='btn-group' role='group'>
                    <button type='checkbox' id='kingsCheckbox' class='campusCheckbox btn'>King's<span class='hidden-xs'> Buildings</span></button>
                </div>
                <div class='btn-group' role='group' id='lauristonCheckboxDiv'>
                    <button type='checkbox' id='lauristonCheckbox' class='campusCheckbox btn'>Lauriston</button>
                </div>
                <div class='btn-group' role='group' id='holyroodCheckboxDiv'>
                    <button type='checkbox' id='holyroodCheckbox' class='campusCheckbox btn'>Holyrood</button>
                </div>
                <div class='btn-group' role='group'>
                    <button type='checkbox' id='otherCheckbox' class='campusCheckbox btn'>Other</button>
                </div>
            </div>
        </div>
        
        <div id='locationFixer' class='optionsCategory'>
            <h1>Fix location:</h1>
            
            <!-- location fixer -->
            <div class='input-group'>
                <input type='text' class='form-control' id='locationCorrectorText'>
                <span class='input-group-btn'>
                    <button class='btn btn-default' type='button' id='locationCorrectorGo'><i class='fa fa-search'></i></button>
                </span>
            </div>
            
        </div>
        <div id='searchWithNewOptions' class='optionsCategory'>
            <button id='searchWithNewOptionsBtn' class='btn btn-default'>Search with new options</button>
        </div>
    </div>
</div>
{% endblock %}