body {
  background-color: #f9f9f9;
}
body * {
  font-family: 'Source Sans Pro', sans-serif;
}
#contentWrapper {
  max-width: 1000px;
  margin: auto;
  background-color: white;
  height: 100%;
}
.navbar {
  background: none;
  border: none;
  margin-bottom: 5px;
  min-height: 0px;
  border-bottom: #dddddd 1px solid;
}
.navbar #logo {
  height: 34px;
  margin: 5px 15px;
}
.navbar .navbar-brand {
  padding: 0;
  height: auto;
}
.navbar .navbar-collapse {
  border: 0;
}
.navbar .navbar-collapse .navbar-nav {
  margin: 0 -15px;
}
@media (min-width: 564px) {
  .navbar .navbar-collapse .navbar-nav {
    margin: 0 -30px;
    height: 44px;
  }
}
.navbar .navbar-collapse .navbar-nav li {
  text-align: right;
}
.navbar .navbar-collapse .navbar-nav li a {
  color: black;
  font-size: 16px;
}
@media (max-width: 563px) {
  .navbar .navbar-collapse .navbar-nav li a {
    border-top: solid 1px #eee;
    padding: 8px 15px 8px 0px;
  }
  .navbar .navbar-collapse .navbar-nav li a.currentTab {
    border-right: solid 3px;
  }
  .navbar .navbar-collapse .navbar-nav li a.currentTab.labsTab {
    border-right-color: #337ab7;
  }
  .navbar .navbar-collapse .navbar-nav li a.currentTab.roomsTab {
    border-right-color: #5cb85c;
  }
  .navbar .navbar-collapse .navbar-nav li a.currentTab.favouritesTab {
    border-right-color: #f0ad4e;
  }
  .navbar .navbar-collapse .navbar-nav li a.currentTab.historyTab {
    border-right-color: #5bc0de;
  }
  .navbar .navbar-collapse .navbar-nav li a .tabLabel {
    display: inline-block;
  }
}
.navbar .navbar-collapse .navbar-nav li i {
  float: right;
  margin-left: 5px;
  line-height: 20px;
}
@media (min-width: 564px) {
  .navbar .navbar-collapse .navbar-nav li {
    height: inherit;
    text-align: center;
  }
  .navbar .navbar-collapse .navbar-nav li a {
    height: inherit;
    border-left: solid 1px #ddd;
    padding: 3px 15px;
  }
  .navbar .navbar-collapse .navbar-nav li a.currentTab {
    border-bottom: solid 3px;
  }
  .navbar .navbar-collapse .navbar-nav li a.currentTab.labsTab {
    border-bottom-color: #337ab7;
  }
  .navbar .navbar-collapse .navbar-nav li a.currentTab.roomsTab {
    border-bottom-color: #5cb85c;
  }
  .navbar .navbar-collapse .navbar-nav li a.currentTab.favouritesTab {
    border-bottom-color: #f0ad4e;
  }
  .navbar .navbar-collapse .navbar-nav li a.currentTab.historyTab {
    border-bottom-color: #5bc0de;
  }
  .navbar .navbar-collapse .navbar-nav li a i {
    float: none;
  }
  .navbar .navbar-collapse .navbar-nav li a .tabLabel {
    margin-top: -3px;
  }
}
.navbar .navbar-toggle {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #d4d4d4;
}
#pageTitle {
  margin: 0 0 5;
  padding: 0 0 5;
  color: #777;
  font-size: 28px;
  line-height: 28px;
}
#pageTitle i {
  margin-left: 8px;
}
hr,
p {
  margin: 0px 0px 0px 0px;
}
.fa-star.unstarred,
.fa-star.starred {
  padding: 5px;
  cursor: pointer;
  text-shadow: 0px 0px 3px grey;
}
.fa-star.unstarred {
  color: #dddddd;
}
.fa-star.starred {
  color: gold;
}
.glyphicon-computer {
  background-image: url("../images/computerGlyphicon.png");
}
.glyphicon-printer {
  background-image: url("../images/printerGlyphicon2.png");
}
.glyphicon-whiteboard {
  background-image: url("../images/whiteboardGlyphicon.png");
}
.glyphicon-blackboard-custom {
  background-image: url("../images/whiteboardGlyphicon.png");
  filter: invert(1);
  -webkit-filter: invert(1);
}
.glyphicon-projector {
  background-image: url("../images/projectorGlyphicon2.png");
}
.custom-glyphicon {
  background-size: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  vertical-align: text-top;
  width: 20px;
}
