body * {
  font-family: 'Source Sans Pro', sans-serif;
}
.navbar {
  background: none;
  border: none;
  margin-bottom: 5px;
  min-height: 0px;
  border-bottom: #dddddd 1px solid;
}
.navbar #logo {
  height: 34px;
  margin: 5px 15px;
}
.navbar .navbar-brand {
  padding: 0;
  height: auto;
}
.navbar .navbar-nav {
  margin: 0 -15px;
}
.navbar .navbar-nav li {
  text-align: right;
}
.navbar .navbar-nav li a {
  padding-top: 4px;
  padding-bottom: 4px;
}
.navbar .navbar-nav li i {
  float: right;
  margin-left: 5px;
  line-height: 20px;
}
.navbar .navbar-toggle {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #d4d4d4;
}
.navbar .navbar-collapse {
  border: 0;
}
@media (max-width: 767px) {
  .nav > li > a {
    border-top: solid 1px #eee;
  }
}
hr,
p {
  margin: 0px 0px 0px 0px;
}
#contentContainer {
  padding: 0 0 5px 0;
}
.fa-star.unstarred,
.fa-star.starred {
  padding: 5px;
  cursor: pointer;
  text-shadow: 0px 0px 3px grey;
}
.fa-star.unstarred {
  color: #dddddd;
}
.fa-star.starred {
  color: gold;
}
.glyphicon-computer {
  background-image: url("../images/computerGlyphicon.png");
}
.glyphicon-printer {
  background-image: url("../images/printerGlyphicon2.png");
}
.glyphicon-whiteboard {
  background-image: url("../images/whiteboardGlyphicon.png");
}
.glyphicon-projector {
  background-image: url("../images/projectorGlyphicon2.png");
}
.custom-glyphicon {
  background-size: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  width: 16px;
}
