//out: ../static/core/css/homeStyle.css
.btn-lg {
    border-radius: 0px;
}
.btn-block + .btn-block {
    margin-top: 0px;
}
.mainMenuOption:first-child {
    border-radius: 4px 4px 0 0;
}
.mainMenuOption:last-child {
    border-radius: 0 0 4px 4px;
}
#mainHamburgerMenuOptions,
*[data-target='#mainHamburgerMenuOptions'] {
    display: none !important;
}
body * {
    text-transform: capitalize;
    font-size: large;
}
// make logo bigger and centered
.navbar {
    border: none;
    #logo {
        height: 80px
    }
    a.navbar-brand {
        display: inline-block;
        float: none;
    }
    .navbar-header {
        text-align: center;
        float:none;
    }
}
