//out: null

// USE THESE COLOURS:

// bootstrap's colours:
@brand-primary: #337AB7;
@brand-success: #5cb85c;
@brand-warning: #f0ad4e;
@brand-info: #5bc0de;
// badge colours: 
// note that the colour of the graph is set in JS so you'll need to change it there too
@availableGreen: #2EA83D;
@minusGrey: #777;
@unavailableRed: #D9433B;
@iffyColour: #f19c09;
// options menu background colour
@optionsBackground: #eeeeee;

// Other variables:
@maxMainScreenWidth: 1000px;
@optionsMenuTransitionTime: 0.5s;
@hideOpeningHoursWidth: 325px;
// note you'll have to change this in the bootstrap source too
@navbar-toggle-width: 564px;
