<!--footer thing-->
<nav class="navbar navbar-fixed-bottom footer">
    <div class="container-fluid">
        <div class='row'>
            <div class="col-xs-4">
                <a href='#' class="text-muted">report an issue</a>
            </div>
            <div class="col-xs-4">
                <a href='#' class="text-muted">feedback</a>
            </div>
            <div class="col-xs-4">
                <a href='#' class="text-muted">about</a>
            </div>
        </div>
    </div>
</nav>