{% load staticfiles %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand navbar-left" href="/">
                <img alt="Book.ed" title='Book.ed'  src="{% static 'images/bookedLogo.png' %}">
            </a>
            <a class="navbar-brand navbar-right" href="http://www.ed.ac.uk/">
                <div id='edUniLogo' alt="University of Edinburgh" title="University of Edinburgh"></div>
            </a>
        </div>
    </div>
</nav>