{% load staticfiles %}

<!-- Static navbar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainHamburgerMenuOptions" id='mainHamburgerBtn' aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/"><img src="{% static 'core/images/bookedLogo.png' %}" id="logo"></a>
        </div>
        <div id="mainHamburgerMenuOptions" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/labs" class='labsTab'>
                        <i class="fa fa-laptop"></i>
                        <div class='tabLabel'>Computer Labs</div>
                    </a>
                </li>
                {% if not labsOnly %}
                <li class="active">
                    <a href="/rooms" class='roomsTab'>
                        <i class="fa fa-home"></i>
                        <div class='tabLabel'>Tutorial Rooms</div>
                    </a>
                </li>
                {% endif %}
                <li class="active">
                    <a href="/favourites" class='favouritesTab'>
                        <i class="fa fa-star"></i>
                        <div class='tabLabel'>Favourites</div>
                    </a>
                </li>
                {% if not labsOnly %}
                <li class="active">
                    <a href="/history" class='historyTab'>
                        <i class="fa fa-history"></i>
                        <div class='tabLabel'>History</div>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>
