{% load staticfiles %}

<!-- Static navbar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainHamburgerMenuOptions" id='mainHamburgerBtn' aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/"><img src="{% static 'core/images/bookedLogo.jpg' %}" id="logo"></a>
        </div>
        <div id="mainHamburgerMenuOptions" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/labs"><i class="fa fa-laptop"></i> Computer Labs</a></li>
                <li class="active"><a href="/rooms"><i class="fa fa-home"></i> Tutorial Rooms</a></li>
                <li class="active"><a href="/favourites"><i class="fa fa-star"></i> Favourites</a></li>
                <li class="active"><a href="/history"><i class="fa fa-history"></i> History</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>