{% extends base.html %}
{% load staticfiles %}

{#<head>#}
{#	<meta charset="utf-8">#}
{#	<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#	<meta name="viewport" content="width=device-width, initial-scale=1">#}
{#	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->#}
{#	<title>Book.ed</title>#}
{##}
{#	<!-- Bootstrap -->#}
{#	<link href="css/style.css" rel="stylesheet">#}
{##}
{#	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->#}
{#	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->#}
{#	<!--[if lt IE 9]>#}
{#      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>#}
{#      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
{#    <![endif]-->#}
{#</head>#}

<body class='wit'>
{#	<nav class="navbar navbar-default navbar-fixed-top">#}
{#		<div class="container-fluid">#}
{#			<div>#}
{#				<a class="navbar-brand navbar-left" href="booked1.html">#}
{#				</a>#}
{#				<a class="navbar-brand navbar-right" href="#">#}
{#					<div id='edUniLogo' alt="University of Edinburgh" title="University of Edinburgh"></div>#}
{#				</a>#}
{#			</div>#}
{##}
{#		</div>#}
{#	</nav>#}
	
	<div class='container' style='margin-top:40px'>
		<div class='row'>
			<div class="col-xs-12">
				<h4 id='howAbout'>How about...</h4>
			</div>
		</div>
		<div class='row'>
			<div class="col-xs-12">
				<h2 id='roomName'>Appleton Café</h2>
			</div>
		</div>
		<div class='row'>
			<div class="col-xs-12">
				<p id='buildingName'>(Appleton Tower)</p>
			</div>
		</div>
		<div class='row propertiesRow'>
			<div class="col-xs-4">
				<abbr title="Distance">
					<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
					<p1 class='labelText'>Distance </p1><p1 id='distance'>: 80m</p1>
				</abbr>
			</div>
			<div class="col-xs-4">
				<abbr title="Computers Available">
					<span class="custom-glyphicon glyphicon-computer" aria-hidden="true"></span>
					<p1 class='labelText'>Computers available </p1><p1 id='comptutersFree'>: 28/30</p1>
				</abbr>
			</div>
			<div class="col-xs-4">
				<abbr title="Available for">
					<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					<p1 class='labelText'>Available for </p1><p1 id='timeLeft'>: 8 hrs</p1>
				</abbr>
			</div>
		</div>
		<div class='row propertiesRow'>
			<div class="col-xs-4">
				<abbr title="Printer">
					<span class="custom-glyphicon glyphicon-printer" aria-hidden="true"></span>
					<p1 class='labelText'>Printer </p1><p1>: </p1><img src='images/tick.png'>
				</abbr>
			</div>
			<div class="col-xs-4">
				<abbr title="Whiteboard">
					<span class="custom-glyphicon glyphicon-whiteboard" aria-hidden="true"></span>
					<p1 class='labelText'>Whiteboard </p1><p1>: </p1><img src='images/cross.png'>
				</abbr>
			</div>
			<div class="col-xs-4">
				<abbr title="Projector">
					<span class="custom-glyphicon glyphicon-projector" aria-hidden="true"></span>
					<p1 class='labelText'>Projector </p1><p1>: </p1><img src='images/cross.png'>
				</abbr>
			</div>
		</div>
		<div class='row'>
			<div class="col-xs-12">
				<a class="btn btn-primary btn-padded" href="#" role="button">Sounds good!</a>
			</div>
		</div>
		<div class='row'>
			<div class="col-xs-12">
				<a class="btn btn-primary btn-padded" href="#" role="button">Not this one</a>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-fixed-bottom footer">
		<div class="container-fluid">
			<div class='row'>
				<div class="col-xs-4">
					<a href='#' class="text-muted">report an issue</a>
				</div>
				<div class="col-xs-4">
					<a href='#' class="text-muted">feedback</a>
				</div>
				<div class="col-xs-4">
					<a href='#' class="text-muted">about</a>
				</div>
			</div>
		</div>
	</nav>
	
	<div class="options navbar-options">
		<div class="container-fluid" >
			<div class='row'>
				<div class="col-xs-12 triangle-row options-toggle">
					<div class='triangle'></div>
				</div>
			</div>
			<div class='row'>
				<div class="col-xs-12 options-header options-toggle">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					<p1>Options</p1>
				</div>
			</div>
		</div>
		<div class='container fullOptions'>
			<div class='row'>
				<div class="col-xs-12">
					<p1>Type:</p1>
				</div>
			</div>
			<div class='row'>
				<div class="col-xs-12">
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a class="btn btn-primary btn-toggle selected" role="button">Computer Lab</a>
						<a class="btn btn-primary btn-toggle selected" role="button">Tutorial Room</a>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-xs-12">
					<p1>Must be:</p1>
				</div>
			</div>
			<div class='row'>
				<div class="col-xs-12">
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a class="btn btn-primary btn-toggle selected" role="button">Nearby</a>
						<a class="btn btn-primary btn-toggle selected" role="button">Empty</a>
						<a class="btn btn-primary btn-toggle selected" role="button">Open late</a>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-xs-12">
					<p1>Must have:</p1>
				</div>
			</div>
			<div class='row'>
				<div class="col-xs-12">
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a class="btn btn-primary btn-toggle" role="button"><span class="custom-glyphicon glyphicon-printer" aria-hidden="true"></span><p class='labelText'>Printer</p></a>
						<a class="btn btn-primary btn-toggle selected" role="button"><span class="custom-glyphicon glyphicon-computer" aria-hidden="true"></span><p class='labelText'>Computers</p></a>
						<a class="btn btn-primary btn-toggle" role="button"><span class="custom-glyphicon glyphicon-projector" aria-hidden="true"></span><p class='labelText'>Projector</p></a>
						<a class="btn btn-primary btn-toggle" role="button"><span class="custom-glyphicon glyphicon-whiteboard" aria-hidden="true"></span><p class='labelText'>Whiteboard</p></a>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-xs-12">
					<p1>Campus:</p1>
				</div>
			</div>
			<div class='row'>
				<div class="col-xs-12">
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<a class="btn btn-primary btn-toggle selected" role="button">Central</a>
						<a class="btn btn-primary btn-toggle selected" role="button">Kings <span class='hidden-xs'>Buildings</span></a>
						<a class="btn btn-primary btn-toggle hidden-xs selected" role="button">Easter Bush</a>
						<a class="btn btn-primary btn-toggle hidden-xs selected" role="button">Holyrood Campus</a>
						<a class="btn btn-primary btn-toggle hidden-xs selected" role="button">Lauriston</a>
						<a class="btn btn-primary btn-toggle hidden-xs selected" role="button">Little France</a>
						<a class="btn btn-primary btn-toggle hidden-xs hidden-sm hidden-md selected" role="button">New College</a>
						<a class="btn btn-primary btn-toggle selected" role="button">Other</a>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-xs-12">
					<a class='btn btn-primary' id='retryBtn' role='button'>Search again!</a>
				</div>
			</div>
		</div>
	</div>
	<div class='container'>
		
		
	</div>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<script>
		$('.options-toggle').click(function () {
			if ($('.container-options')[0]) {
				$('.container-options').addClass('navbar-options');
				$('.container-options').removeClass('container');
				$('.container-options').removeClass('container-options');
			} else {
				$('.navbar-options').addClass('container-options');
				$('.navbar-options').addClass('container');
				$('.navbar-options').removeClass('navbar-options');
			}
		});

		$('.btn-toggle').click(function () {
			if ($(this).hasClass('selected')) {
				$(this).removeClass('selected');
			} else {
				$(this).addClass('selected');
			}
		});
		$('#retryBtn').click(function () {
			$('.container-options').addClass('navbar-options');
			$('.container-options').removeClass('container');
			$('.container-options').removeClass('container-options');
		});
	</script>
</body>

</html>