<!--options thing-->
<div class="options navbar-options">
    <div class="container-fluid" >
        <div class='row'>
            <div class="col-xs-12 triangle-row options-toggle">
                <div class='triangle'></div>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12 options-header options-toggle">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <p1>Options</p1>
            </div>
        </div>
    </div>
    <div class='container fullOptions'>
        <div class='row'>
            <div class="col-xs-12">
                <p1>Type:</p1>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a class="btn btn-primary btn-toggle selected" role="button">Computer Lab</a>
                    <a class="btn btn-primary btn-toggle selected" role="button">Tutorial Room</a>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12">
                <p1>Must be:</p1>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a class="btn btn-primary btn-toggle selected" role="button">Nearby</a>
                    <a class="btn btn-primary btn-toggle selected" role="button">Empty</a>
                    <a class="btn btn-primary btn-toggle selected" role="button">Open late</a>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12">
                <p1>Must have:</p1>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a class="btn btn-primary btn-toggle" role="button"><span class="custom-glyphicon glyphicon-printer" aria-hidden="true"></span><p class='labelText'>Printer</p></a>
                    <a class="btn btn-primary btn-toggle selected" role="button"><span class="custom-glyphicon glyphicon-computer" aria-hidden="true"></span><p class='labelText'>Computers</p></a>
                    <a class="btn btn-primary btn-toggle" role="button"><span class="custom-glyphicon glyphicon-projector" aria-hidden="true"></span><p class='labelText'>Projector</p></a>
                    <a class="btn btn-primary btn-toggle" role="button"><span class="custom-glyphicon glyphicon-whiteboard" aria-hidden="true"></span><p class='labelText'>Whiteboard</p></a>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12">
                <p1>Campus:</p1>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a class="btn btn-primary btn-toggle selected" role="button">Central</a>
                    <a class="btn btn-primary btn-toggle selected" role="button">Kings <span class='hidden-xs'>Buildings</span></a>
                    <a class="btn btn-primary btn-toggle hidden-xs selected" role="button">Easter Bush</a>
                    <a class="btn btn-primary btn-toggle hidden-xs selected" role="button">Holyrood Campus</a>
                    <a class="btn btn-primary btn-toggle hidden-xs selected" role="button">Lauriston</a>
                    <a class="btn btn-primary btn-toggle hidden-xs selected" role="button">Little France</a>
                    <a class="btn btn-primary btn-toggle hidden-xs hidden-sm hidden-md selected" role="button">New College</a>
                    <a class="btn btn-primary btn-toggle selected" role="button">Other</a>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12">
                <a class='btn btn-primary' id='retryBtn' role='button'>Search again!</a>
            </div>
        </div>
    </div>
</div>