{% extends "new/core/base.html" %}
{% load staticfiles %}

{% block head %}
<!-- amCharts javascript sources -->
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="{% static 'js/makepie.js' %}"></script>
<style>
    .btn-lg {
    border-radius:0;
    }
    .nav {
    margin-bottom: 6px;
    }
    .map-btn {
    margin-top: 5px;
    float: right;
    }
    .badge {
    float: right;
    font-size: 14px;
    }
    .avail {
    float: right;
    width: 12px;
    }

</style>
{% endblock %}

{% block content %}
<!--to make the default inner margins smaller-->

<ul class="nav nav-pills">
    <!--Computers-->
    <li class="active"><a data-toggle="tab" href="#home">Computers</a></li>
    <li><a data-toggle="tab" href="#menu1">Rooms</a></li>
</ul>
<!--id #chartdiv needed to make piechart-->
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapseOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="badge">75</span> Library Cafe <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <span>Free:<span class="badge free">75</span><br></span>
                                In-Use: <span class="badge inuse">25</span>
                            </div>
                            <div class="col-xs-4">
                                <div id="chartdiv" style="width: 50px; height: 50px; background-color: #FFFFFF;" ></div>
                            </div>
                            <div class="col-xs-2"> <a href="{% url 'labs' %}" class="btn btn-default map-btn" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapseTwo">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <span class="badge">75</span> Library Cafe <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="free"></div>
                                Free:<br>
                                <div class="inuse"></div>
                                In-Use:
                            </div>
                            <div class="col-xs-1">75<br>25</div>
                            <div class="col-xs-4">
                                <div id="chartdiv2" style="width: 100%; height: 50px; background-color: #FFFFFF;" ></div>
                            </div>
                            <div class="col-xs-2"> <a href="{% url 'labs' %}" class="btn btn-default map-btn" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapseThree">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapseThree" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <span class="badge">2</span> Library Cafe <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="free"></div>
                                Free:<br>
                                <div class="inuse"></div>
                                In-Use:
                            </div>
                            <div class="col-xs-1">75<br>25</div>
                            <div class="col-xs-4">
                                <div id="chartdiv3" style="width: 100%; height: 50px; background-color: #FFFFFF;" ></div>
                            </div>
                            <div class="col-xs-2"> <a href="{% url 'labs' %}" class="btn btn-default map-btn" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Rooms-->
    <div id="menu1" class="tab-pane fade">
        <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapseFour">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapseFour" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        <span class="badge"><i class="fa fa-check avail"></i></span>Library Cafe <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                alksdjfs
                            </div>
                            <div class="col-xs-4">
                                <a href="{% url 'home' %}" class="btn btn-default map-btn" role="button"><i class="fa fa-calendar fa-2x"></i></a>
                            </div>
                            <div class="col-xs-4">
                                <a href="{% url 'labs' %}" class="btn btn-default map-btn" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapseFive">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapseFive" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        <span class="badge"><i class="fa fa-times avail"></i></span>Library Cafe <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="free"></div>
                                Free:<br>
                                <div class="inuse"></div>
                                In-Use:
                            </div>
                            <div class="col-xs-1">75<br>25</div>
                            <div class="col-xs-4">
                                <div id="chartdiv5" style="width: 100%; height: 50px; background-color: #FFFFFF;" ></div>
                            </div>
                            <div class="col-xs-2"> <a href="{% url 'labs' %}" class="btn btn-default map-btn" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapseSix">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapseSix" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        <span class="badge"><i class="fa fa-minus avail"></i></span>Library Cafe <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="free"></div>
                                Free:<br>
                                <div class="inuse"></div>
                                In-Use:
                            </div>
                            <div class="col-xs-1">75<br>25</div>
                            <div class="col-xs-4">
                                <div id="chartdiv6" style="width: 100%; height: 50px; background-color: #FFFFFF;" ></div>
                            </div>
                            <div class="col-xs-2"> <a href="{% url 'labs' %}" class="btn btn-default map-btn" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}