{% extends "core/base.html" %}
{% load staticfiles %}
{% load users_extra_tags %}

{% block head %}

<link href="{% static 'users/css/favouritesStyle.css' %}" rel="stylesheet">

<!-- amCharts javascript sources -->
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>

<script type="text/javascript" src="{% static 'core/js/makeGraph.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/makepie.js' %}"></script>


<script type="text/javascript" src="{% static 'users/js/roomAutocompleteScript.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/jquery.autocomplete.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="containerForAllez">

    <!-- perhaps not needed! -->





    <!-- END OF STUFF THAT IS PERHAPS NOT NEED -->









<!--to make the default inner margins smaller-->
<div class="navbar-row">
    <div class="row">
        <div class="col-xs-9">
            <ul class="nav nav-pills">
                <!--Computers-->
                <li class="active"><a data-toggle="tab" href="#PCs">Computers</a></li>
                <li><a data-toggle="tab" href="#ROOMs">Rooms</a></li>
            </ul>
        </div>
        <div class="col-xs-3">
            <div id="favourites-page-logo">
                <p id="favtext"><i id='logostar' class="fa fa-star fa-3x"></i></p>
            </div>
        </div>
    </div>
</div>
<!--id #chartdiv needed to make piechart-->
<div class="tab-content">
    <div id="PCs" class="tab-pane fade in active">
        <div class="panel-group" role="tablist" aria-multiselectable="true">

            <!-- PCs -->












            {% for fav in pc_favourites_open %}

            <!-- favourite -->

            <div id="infoFor-lab-{{ fav.id }}" class="panel panel-default pc open">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapse-{{ fav.id }}">
                    <h4 class="panel-title">
                        <a class='theLink' role="button" data-toggle="collapse" data-target="#collapse-{{ fav.id }}" href="#collapse-{{ fav.id }}" aria-expanded="true" aria-controls="collapse-{{ fav.id }}">
                        <span class="badge free">{{ fav.free }}</span> {{ fav.name }} <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapse-{{ fav.id }}" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4 badge-text">
                                <p id="freeBadgeText">Free:  <span class="badge free">{{ fav.free }}</span></p>
                                <p id="useBadgeText">In-Use:<span class="badge inuse">{{ fav | inUse }}</span></p>
                            </div>
                            <div class="col-xs-3">
                                <div id='computersFreeGraphContainer'>
                                    <script class="makePieScript">
{#                                 <!-- makepiechart function takes the id, number of free, number in use -->#}
                                        makepie("{{fav.id}}", {{ fav.free }}, {{ fav | inUse }});
                                    </script>
                                    <div class="computersFreeGraph" id="{{ fav.id }}"></div>
                                </div>
                            </div>
                            <div class="col-xs-3 openHourDiv">

                                <i class="fa fa-clock-o openHoursComp"></i>
                                <p class="openTimeP">{{ fav | openTime }}</p>
                                <p class="closingTimeP">{{ fav | closingTime }}</p>
                            </div>

                            <div class="col-xs-2">
                                <a href="http://maps.google.com/maps?q={{ fav.latitude }},{{ fav.longitude }}" class="btn btn-default map-btn" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1">
                                <button id="lab-{{ fav.id }}" class="btn btn-default remove-btn"><i class="fa fa-star starred"></i>Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
{#        all the rooms that are open, and added through the autocompleter should be inserted here!#}
        <div id="insertAfterOpen" class="panel" style="border:none;"></div>




            {% for fav in pc_favourites_closed %}

            <!-- favourite -->

            <div id="infoFor-lab-{{ fav.id }}"class="panel panel-default pc closed">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapse-{{ fav.id }}">
                    <h4 class="panel-title">
                        <a class='theLink' role="button" data-toggle="collapse" data-target="#collapse-{{ fav.id }}" href="#collapse-{{ fav.id }}" aria-expanded="true" aria-controls="collapse-{{ fav.id }}">
                        <span class="badge times"><i class="fa fa-times"></i></span> {{ fav.name }} <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapse-{{ fav.id }}" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="row">

                            <div class="closedStats">

                                <div class="col-xs-4 badge-text">
                                    <p id="freeBadgeText">Free:  <span class="badge free">{{ fav.free }}</span></p>
                                    <p id="useBadgeText">In-Use:<span class="badge inuse">{{ fav | inUse }}</span></p>
                                </div>
                                <div class="col-xs-3">
                                    <div id='computersFreeGraphContainer'>
                                        <script class="makePieScript">
                                        {# // makepiechart function takes the id, number of free, number in use #}
                                            makepie("{{fav.id}}", {{ fav.free }}, {{ fav | inUse }});
                                        </script>
                                        <div class="computersFreeGraph" id="{{ fav.id }}"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-3 openHourDiv">

                                <i class="fa fa-clock-o openHoursComp"></i>

                                <p class="closedOpeningHour openTimeP">{{ fav | openTime }}</p>
                                <p class="closedOpeningHour closingTimeP">{{ fav | closingTime }}</p>


                            </div>

                            <div class="col-xs-2">
                                <a href="http://maps.google.com/maps?q={{ fav.latitude }},{{ fav.longitude }}" class="btn btn-default map-btn" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1">
                                <button id="lab-{{ fav.id }}" class="btn btn-default remove-btn"><i class="fa fa-star starred"></i>Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

        <div id="insertAfterClosed"></div>


     <div class="list-group-item" id="autocompleteLabLi" style="margin-top: 5px;">Add new lab: <input type="text" class="autocompleteForm" id="autocompleteLab"></div>

            <!-- hidden template for PC OPEN -->

        <div id="infoFor-lab-" class="panel panel-default pc open template" style="display:none;">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapse-{{ fav.id }}">
                    <h4 class="panel-title">
                        <a class='theLink' role="button" data-toggle="collapse" data-target="#collapse-" href="#collapse-" aria-expanded="true" aria-controls="collapse-">
                        <span class="badge free"></span> <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapse-" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4 badge-text">
                                <p id="freeBadgeText">Free:  <span class="badge free"></span></p>
                                <p id="useBadgeText">In-Use:<span class="badge inuse"></span></p>
                            </div>
                            <div class="col-xs-3">
                                <div id='computersFreeGraphContainer'>
                                    <script class="makePieScript">
                                    </script>
                                    <div class="computersFreeGraph" id="someIdForOpen"></div>
                                </div>
                            </div>
                            <div class="col-xs-3 openHourDiv">

                                <i class="fa fa-clock-o openHoursComp"></i>
                                <p class="openTimeP"></p>
                                <p class="closingTimeP"></p>
                            </div>

                            <div class="col-xs-2">
                                <a href="http://maps.google.com/maps?q=" class="btn btn-default map-btn" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1">
                                <button id="lab-{{ fav.id }}" class="btn btn-default remove-btn"><i class="fa fa-star starred"></i>Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- END OF HIDDEN TEMPLATE FOR PC OPEN -->



            <!-- HIDDEN TEMPLATE FOR PC CLOSED -->

                       <!-- favourite -->

            <div id="infoFor-lab-" class="panel panel-default pc closed template" style="display:none;">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapse-">
                    <h4 class="panel-title">
                        <a class='theLink' role="button" data-toggle="collapse" data-target="#collapse-" href="#collapse-" aria-expanded="true" aria-controls="collapse-">
                        <span class="badge times"><i class="fa fa-times"></i></span>  <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapse-" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="row">

                            <div class="closedStats">

                                <div class="col-xs-4 badge-text">
                                    <p id="freeBadgeText">Free:  <span class="badge free"></span></p>
                                    <p id="useBadgeText">In-Use:<span class="badge inuse"></span></p>
                                </div>
                                <div class="col-xs-3">
                                    <div id='computersFreeGraphContainer'>
                                        <script class="makePieScript">
                                        </script>
                                        <div class="computersFreeGraph" id="someIdForClosed"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-xs-3 openHourDiv">

                                <i class="fa fa-clock-o openHoursComp"></i>

                                <p class="closedOpeningHour openTimeP"></p>
                                <p class="closedOpeningHour closingTimeP"></p>


                            </div>

                            <div class="col-xs-2">
                                <a href="http://maps.google.com/maps?q=" class="btn btn-default map-btn" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1">
                                <button id="lab-" class="btn btn-default remove-btn"><i class="fa fa-star starred"></i>Remove</button>
                            </div>
                        </div>
                    </div>
                </div>



            </div>



            <!-- END OF HIDDEN TEMPLATE FOR PC CLOSED -->






        </div>

    </div>







    <!--Rooms-->




    <div id="ROOMs" class="tab-pane fade">
        <div class="panel-group" role="tablist" aria-multiselectable="true">



            <!-- generated favourites -->

            {% for fav in rooms_available_now %}


            <!-- beginning of favourite room-->

            <div id="infoFor-lab-{{ fav.id }}" class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapse-{{fav.locationId}}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapse-{{fav.locationId}}" href="#collapse-{{fav.locationId}}" aria-expanded="true" aria-controls="collapse-{{fav.locationId}}">
                        <span class="badge check"><i class="fa fa-check avail"></i></span>{{ fav.room_name }}, {{fav.building_name}}
                            <span class="caret"></span>
                        </a>
                    </h4>
                </div>

                <div id="collapse-{{fav.locationId}}" class="panel-collapse collapse" role="tabpanel">

                        <div class="panel-body">
                            <div class="row">
                                 <div class="col-xs-3" style="text-align: center;">
                                     <p><i class="fa fa-clock-o"></i></p>
                                     <div class="descriptionRoom"><p>Opening Hours</p></div>
                                     <p>{{ fav | openTime }}</p>
                                     <p>{{ fav | closingTime }}</p>
                                 </div>
                                <div class="col-xs-2" style="text-align:center;">
                                    <p><i class="fa fa-users"></i></p>
                                    <div class="descriptionRoom"><p>Capacity</p></div>
                                    <p>{{ fav.capacity }}</p>


                                </div>
                                <div class="col-xs-3" style="text-align: center">
                                    <p><i class="fa fa-check-circle"></i></p>
                                    <div class="descriptionRoom"><p>Available for less than</p></div>

                                    <p>2h</p>
                                </div>
                                 <div class="col-xs-4" style="text-align:right;">
                                    <p>{{ fav | facilities }}</p>
                                 </div>


                            </div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-xs-2">
                                    <button id="lab-{{ fav.id }}" class="btn btn-default remove-btn"><i class="fa fa-star starred"></i>Remove</button>
                                </div>
                                <div class="col-xs-6 btn-group btn-group-rooms">
                                     <a href="/" class="btn btn-default roomBtn" role="button"><i class="fa fa-calendar fa-2x"></i></a>
                                     <a href="{% url 'labs' %}" class="btn btn-default roomBtn" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                                     <a href="/" class="btn btn-default booknow roomBtn" role="button">Book Now</a>
                                </div>
                            </div>
                        <!-- panel-body -->
                        </div>
                <!-- panel collapse -->
                </div>
            <!-- end of this room -->
            </div>

            <!-- end of favourite room -->

            {% endfor %}




{##}
{##}
{##}
{#        <li class="list-group-item" id="room-{{fav.locationId}}">{{ fav.room_name }}, {{fav.building_name}}: {{fav | facilities}}#}
{#            <span class="unliker unclicked">Unlike</span></li>#}






            {% for fav in rooms_not_available_now %}


            <!-- beginning of favourite room-->

            <div id="infoFor-lab-{{ fav.id }}" class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapse-{{fav.locationId}}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapse-{{fav.locationId}}" href="#collapse-{{fav.locationId}}" aria-expanded="true" aria-controls="collapse-{{fav.locationId}}">
                        <span class="badge times"><i class="fa fa-times"></i></span>{{ fav.room_name }}, {{fav.building_name}}<span class="caret"></span>
                        </a>
                    </h4>
                </div>

                <div id="collapse-{{fav.locationId}}" class="panel-collapse collapse" role="tabpanel">

                        <div class="panel-body">
                            <div class="row">
                                 <div class="col-xs-3" style="text-align: center;">
                                     <p><i class="fa fa-clock-o"></i></p>
                                     <p>{{ fav | openTime }}</p>
                                     <p>{{ fav | closingTime }}</p>
                                 </div>
                                <div class="col-xs-2" style="text-align:center;">
                                    <p><i class="fa fa-users"></i></p>
                                    <div class="descriptionRoom"><p>Capacity</p></div>
                                    <p>{{ fav.capacity }}</p>


                                </div>
                                <div class="col-xs-3" style="text-align: center">
                                    {% if fav.locally_allocated %}

                                    <p><i class="fa fa-exclamation-triangle"></i></p>
                                        <div class="descriptionRoom"><p>Locally Allocated</p></div>
                                        <p>n/a</p>


                                    {% else %}

                                    <p><i class="fa fa-hourglass"></i></p>
                                        <div><p></p></div>
                                    <div class="descriptionRoom"><p>Available in less than</p></div>
                                        <p>{{ fav | currentStatus }}</p>
                                    {% endif %}
                                </div>
                                 <div class="col-xs-4" style="text-align:right;">
                                    <p>{{ fav | facilities }}</p>
                                 </div>

                            </div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-xs-2">
                                    <button id="lab-{{ fav.id }}" class="btn btn-default remove-btn"><i class="fa fa-star starred"></i>Remove</button>
                                </div>
                                <div class="col-xs-6 btn-group btn-group-rooms">
                                     <a href="/" class="btn btn-default roomBtn" role="button"><i class="fa fa-calendar fa-2x"></i></a>
                                     <a href="{% url 'labs' %}" class="btn btn-default roomBtn" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                                     <a href="/" class="btn btn-default booknow roomBtn disabled" role="button">Book Now</a>
                                </div>
                            </div>
                        <!-- panel-body -->
                        </div>
                <!-- panel collapse -->
                </div>
            <!-- end of this room -->
            </div>

            <!-- end of favourite room -->





            {% endfor %}



            {% for fav in rooms_open_locally_allocated %}

                <!-- beginning of favourite room-->


            <div id="infoFor-lab-{{ fav.id }}" class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapse-{{fav.locationId}}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapse-{{fav.locationId}}" href="#collapse-{{fav.locationId}}" aria-expanded="true" aria-controls="collapse-{{fav.locationId}}">
                        <span class="badge minus"><i class="fa fa-minus avail"></i></span>{{ fav.room_name }}, {{fav.building_name}}
                            <span class="caret"></span>
                        </a>
                    </h4>
                </div>

                <div id="collapse-{{fav.locationId}}" class="panel-collapse collapse" role="tabpanel">

                        <div class="panel-body">
                            <div class="row">
                                 <div class="col-xs-3" style="text-align: center;">
                                     <p><i class="fa fa-clock-o"></i></p>
                                     <div class="descriptionRoom"><p>Opening Hours</p></div>
                                     <p>{{ fav | openTime }}</p>
                                     <p>{{ fav | closingTime }}</p>
                                 </div>
                                <div class="col-xs-2" style="text-align:center;">
                                    <p><i class="fa fa-users"></i></p>
                                    <div class="descriptionRoom"><p>Capacity</p></div>
                                    <p>{{ fav.capacity }}</p>


                                </div>
                                <div class="col-xs-3" style="text-align: center">
                                    <p><i class="fa fa-exclamation-triangle"></i></p>
                                        <div class="descriptionRoom"><p>Locally Allocated</p></div>
                                        <p>n/a</p>
                                </div>
                                 <div class="col-xs-4" style="text-align:right;">
                                    <p>{{ fav | facilities }}</p>
                                 </div>


                            </div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-xs-2">
                                    <button id="lab-{{ fav.id }}" class="btn btn-default remove-btn"><i class="fa fa-star starred"></i>Remove</button>
                                </div>
                                <div class="col-xs-6 btn-group btn-group-rooms">
                                     <a href="/" class="btn btn-default roomBtn" role="button"><i class="fa fa-calendar fa-2x"></i></a>
                                     <a href="{% url 'labs' %}" class="btn btn-default roomBtn" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                                     <a href="/" class="btn btn-default booknow roomBtn disabled" role="button">Book Now</a>
                                </div>
                            </div>
                        <!-- panel-body -->
                        </div>
                <!-- panel collapse -->
                </div>
            <!-- end of this room -->
            </div>

            <!-- end of favourite room -->

            {% endfor %}


{##}
{#            <!-- favourite -->#}
{#            <div class="panel panel-default">#}
{#                <div class="panel-heading" data-toggle="collapse" data-target="#collapseFour">#}
{#                    <h4 class="panel-title">#}
{#                        <a role="button" data-toggle="collapse" data-target="#collapseFour" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">#}
{#                        <span class="badge check"><i class="fa fa-check avail"></i></span>!Library Cafe! change this<span class="caret"></span>#}
{#                        </a>#}
{#                    </h4>#}
{#                </div>#}
{#                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel">#}
{#                    <div class="panel-body">#}
{#                        <div class="row">#}
{#                            <div class="col-xs-4">#}
{#                                <a href="/" class="btn btn-default" role="button"><i class="fa fa-calendar fa-2x"></i></a>#}
{#                            </div>#}
{#                            <div class="col-xs-4">#}
{#                                <a href="{% url 'labs' %}" class="btn btn-default" role="button"><i class="fa fa-map-marker fa-2x"></i></a>#}
{#                            </div>#}
{#                            <div class="col-xs-4">#}
{#                                <a href="/" class="btn btn-default booknow" role="button">Book Now</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}



            <!-- favourite -->
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapseSix">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapseSix" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        <span class="badge minus"><i class="fa fa-minus avail"></i></span>Hugh Robson <span class="caret"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <a href="/" class="btn btn-default" role="button"><i class="fa fa-calendar fa-2x"></i></a>
                            </div>
                            <div class="col-xs-4">
                                <a href="{% url 'labs' %}" class="btn btn-default" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>




    <!-- full page container end -->
    </div>


{% endblock %}