{% load users_extra_tags %}
<div id="infoFor-room-{{ fav.locationId }}" class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapse-{{fav.locationId}}">
        <h4 class="panel-title">
            <a class='theLink' role="button" data-toggle="collapse" data-target="#collapse-{{fav.locationId}}" aria-expanded="true" aria-controls="collapse-{{fav.locationId}}">
                <span class="roomName">{{ fav.room_name }}, {{fav.building_name}}</span>
                <span class="caret"></span>
            </a>
            <span class="badge free"><i class="fa fa-check"></i></span>
        </h4>
    </div>

    <div id="collapse-{{fav.locationId}}" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">

            <div class="row roomFavouritesInfoRow">
                <div class="col-xs-3 openHourDiv">
                    <i class="fa fa-clock-o openHoursClock"></i>
                    <div class="descriptionRoom">Opening Hours</div>
                    <p class='openTimeP'>{{ fav | openTime }}</p>
                    <p class='closingTimeP'>{{ fav | closingTime }}</p>
                </div>
                <div class="col-xs-2 capacityDiv">
                    <i class="fa fa-users"></i>
                    <div class="descriptionRoom">Capacity</div>
                    <p>{{ fav.capacity }}</p>
                </div>
                <div class="col-xs-3 availabilityDiv">
                    <i class="fa fa-check-circle"></i>
                    <div class="descriptionRoom">Available for less than</div>
                    <p>{{ fav.availableFor }}</p>
                </div>
                 <div class="col-xs-4 facilitiesDiv">
                    <p>{{ fav | facilities }}</p>
                 </div>
            </div>

            <div class='row roomFavouritesButtonRow'>
                <button id="room-{{ fav.locationId }}" class="btn btn-default remove-btn">
                    <i class="fa fa-star starred"></i>
                    <span>Remove</span>
                    <a class='fa fa-check confirmRemove'> &nbsp; </a>
                    <a class='fa fa-times cancelRemove'> &nbsp; </a>
                </button>
                <div class="btn-group btn-group-rooms">
                     <a id="{{ fav.locationId }}" class="btn btn-default calBtn" data-toggle="modal" data-target="#myModal" role="button"><i class="fa fa-calendar fa-2x"></i></a>
                     <a href="http://maps.google.com/maps?q={{ fav.latitude }},{{ fav.longitude }}" class="btn btn-default roomBtn" role="button"><i class="fa fa-map-marker fa-2x"></i></a>
                     <a class="btn btn-default booknow" role="button">Book Now</a>
                </div>
            </div>

        </div>
    </div>
</div>