{% extends 'core/base.html' %}

<!-- only used in development, production uses EASE accounts -->

{% block content %}

    <div class="container-fluid">

        {% if registered %}

            <strong>Registration complete.  Redirecting...</strong>
            <script>window.location.href='/login/'</script>

        {% else %}

            <strong>register here!</strong><br />

            <form id="user_form" method="post" action="/registration/" enctype="multipart/form-data">

                {% csrf_token %}

                {{ user_form.as_p }}

                <!-- Provide a button to click to submit the form. -->
                <input type="submit" class="btn btn-default" name="submit" value="Register" />
            </form>

        {% endif %}

    </div>

{% endblock content %}
