.btn-lg {
  border-radius: 0;
}
.nav {
  margin-bottom: 6px;
}
.map-btn {
  margin-top: 5px;
  float: right;
}
.badge {
  float: right;
  font-size: 14px;
}
.badge.free {
  background-color: #00aa00;
  margin-bottom: 0px;
}
.badge.inuse {
  background-color: #aa0000;
}
.badge-text {
  white-space: nowrap;
  overflow: hidden;
}
.badge-text p {
  font-size: 14px;
  margin-bottom: 5px;
}
.badge-group {
  padding-top: 4px;
  margin-left: 0px;
}
.panel-default > .panel-heading .badge {
  background-color: #337AB7;
  float: right;
  font-size: 14px;
  /*brand-primary*/
}
.panel-default > .panel-heading .badge.free {
  background-color: #00aa00;
  margin-bottom: 0px;
}
.panel-default > .panel-heading .badge.inuse {
  background-color: #aa0000;
}
.avail {
  float: right;
  width: 12px;
}
.fa-map-marker,
.fa-calendar {
  color: #555;
  /*grey-light*/
}
.fa-check {
  margin-left: -1px;
}
.panel-default > .panel-heading .badge.check {
  background-color: #00aa00;
}
.panel-default > .panel-heading .badge.minus {
  background-color: #777777;
}
.panel-default > .panel-heading .badge.times {
  background-color: #aa0000;
}
.booknow {
  margin-left: -15px;
}
.computersFreeGraph {
  height: 50px;
  width: 50px;
}
.remove-btn {
  align: left;
  padding: 0px 4px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.unliker.unclicked {
  background-color: blue;
  color: white;
  padding: 7px;
  border-radius: 5px;
  margin-left: 50px;
  cursor: pointer;
}
.unliker.clicked {
  margin-left: 50px;
}
.favRemover {
  color: white;
  padding: 7px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.confirmRemoval {
  background-color: green;
}
.cancelRemoval {
  background-color: red;
}
.fa-check {
  color: #00aa00;
}
.fa-times {
  color: #aa0000;
}
