@import "../../../../core/less/variables.less";

.containerForAllez {
    margin-left: 6px;
    margin-right: 6px;
    .navbar-row>.row{
        margin-right: 0px;
    }
}

.theLink{
    width: calc(~"100% - 35px");
    display: inline-block;
}

.favouritesInfoRow{
    .display-flex();
    margin-left: 0px;
    margin-right: 0px;
    
    &>div{
        display: inline-block;
    }
    
    .availabilityInfo {
        width: 80px;
        margin-right:10px;
        @media (min-width: 400px){
            width: 150px;
        }
        p {
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
    
    .computersFreeGraphContainer{
        .flex(1, 1, auto);
        .computersFreeGraph{
            height:50px;
            width:50px;
            margin:auto;
        }
    }
    
    .openHourDiv{
        .flex(1, 1, 50px);
        text-align: center;
        @media (max-width: @hideOpeningHoursWidth) {
            display: none;
        }
        .openHoursClock {
            margin-left: auto;
            margin-right: auto;
        }
        @media (min-width:450px){
            .flex(1, 1, 100px);
            font-size: 16px;
            .openHoursClock{
                display:block;
                font-size: 20px;
                margin-top: 5px;
            }
            .openTimeP{
                display:inline;
            }
            .openTimeP:after{
                content:" - "
            }
            .closingTimeP{
                display: inline;
            }
        }
    }
    
    .yesBtnDiv{
        width: 57px;
        text-align: right;
        .map-btn {
            margin-top: 5px;
        }
    }
}

.pc.closed .favouritesInfoRow{

    .availabilityInfo {
        opacity:0.4;
        p {
        }
    }
    
    .computersFreeGraphContainer{
        opacity:0.4;
        @media (max-width: @hideOpeningHoursWidth) {
            display: none;
        }
        .computersFreeGraph{
        }
    }
    
    .openHourDiv{
        display: block;
        color: @unavailableRed;
        font-weight: bold;
        .openHoursClock {
            color:black;
        }
    }
    
    .yesBtnDiv{
        .map-btn {
        }
    }
}

.hiddenTil400{
    @media (max-width:399px){
        display: none;
    }
}
.shownTil400{
    @media (min-width:400px){
        display: none;
    }
}

.btn-group-rooms {
    padding-left: 0px;
    padding-right:5px;
    width: auto;
    float: right;
}

.openHourRoom {
    width: 15px;
    padding-left: 0px;
    padding-top: 10px;
    text-align: center;
}

.openHourDivRoom {
    padding-left: 0px;
}

@media(max-width: 648px) {
    .descriptionRoom {
        display: none;
    }
}

.body {
    background-color: @unavailableRed;
}

.btn-lg {
    border-radius: 0;
}
.nav {
    margin-bottom: 6px;
    .nav-pills {
        white-space: nowrap;
        overflow: hidden;
    }
}

.badge, .panel-default > .panel-heading .badge {
    float: right;
    font-size: 14px;
    &.free {
        background-color: @availableGreen;
        margin-bottom: 0px;
        &.closed {
            background-color: @minusGrey;
        }
    }
    &.busyish{
        background-color: @iffyColour;
    }
    &.shut{
        background-color: #333;
        color:#ddd;
    }
    &.full, &.inuse{
        background-color: @unavailableRed;
    }
}

#PCs .badge{
    min-width:35px;
}

.panel-group .panel {
    margin-bottom:5px;
}

.badge-group {
    padding-top: 4px;
    margin-left: 0px;
}

.avail {
    float: right;
    width: 12px;
}

.suitAvail {
    color: @availableGreen;
    padding-left: 5px;
}

.suitUnAvil {
    color: @unavailableRed;
    padding-left: 5px;
}

.suitabilityCol {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}


.fa-map-marker,
.fa-calendar {
    color: #555;
}
.fa-check {
    margin-left: -1px;
}
.panel-default > .panel-heading .badge.check {
    background-color: @availableGreen;
}
.panel-default > .panel-heading .badge.minus {
    background-color: @minusGrey;
}
.panel-default > .panel-heading .badge.times {
    background-color: @unavailableRed;
}
.booknow {
    margin-left: 0px;
    padding: 7px 5px 13px 5px;
    font-size: 14px;
}

.btn-group>.btn {
    margin-right: 0;
}

.remove-btn {
    margin: 0px 0px 0px 0px;
    padding: 2px 5px 2px 0px;
    font-size: 14px;
    &:not(.expanded){
        .confirmRemove, .cancelRemove{
            display:none;
        }
    }
    &.expanded{
        background-color: #e6e6e6;
        border-color: #8c8c8c;
        //disable normal button display when expanded
        &:active{
            background-color: #e6e6e6;
            border-color: #8c8c8c;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
    .confirmRemove {
        margin-left:5px;
        color: @availableGreen;
        .avail {
            color: black;
        }
    }
    .cancelRemove {
        color: @unavailableRed;
    }
    .confirmRemove, .cancelRemove{
        width:18px;
        &:hover{
            font-size: 1.2em;
            text-decoration: none;
        }
    }
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    cursor: default;
    overflow: auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.autocomplete-suggestion {
    padding: 8px 5px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
}

.autocomplete-selected {
    background: #f0f0f0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399ff;
}

#searchfield {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}

#searchfield form {
    display: inline-block;
    background: #eeefed;
    padding: 0;
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0 0 0;
}

#searchfield form .biginput {
    width: 600px;
    height: 40px;
    padding: 0 10px 0 10px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    color: #aeaeae;
    font-weight: normal;
    font-size: 1.5em;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#searchfield form .biginput:focus {
    color: #858585;
}

.autocompleteForm {
    width: 50%;
}

// this is for the FullCalendar:
.fc-today {
    background: #f0f3ff !important;
}


// shorthand for all versions of display: flex
.display-flex(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// shorthand for all versions of flex: a b c
.flex(@a, @b, @c){
    -webkit-box-flex: @b;
    -webkit-flex-grow: @b;
    -moz-box-flex: @b;
    -ms-flex-positive: @b;
    flex-grow: @b;

    -webkit-flex-shrink: @c;
    -ms-flex-negative: @c;
    flex-shrink: @c;
    -webkit-flex-basis: @a;
    -ms-flex-preferred-size: @a;
    flex-basis: @a;
    flex: @a @b @c;
}