{% load staticfiles %}

<div class='container' style='margin-top:40px'>
    <div class='row'>
        <div class="col-xs-12">
            <h4 id='howAbout'>How about...</h4>
        </div>
    </div>
    <div class='row'>
        <div class="col-xs-12">
            <h2 id='roomName'></h2>
        </div>
    </div>
    <div class='row'>
        <div class="col-xs-12">
            <p id='buildingName'></p>
        </div>
    </div>
    <div class='row propertiesRow'>
        <div class="col-xs-4">
            <abbr title="Distance">
                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                <p1 class='labelText'>Distance </p1><p1 id='distance'>: 0km</p1>
            </abbr>
        </div>
        <div class="col-xs-4">
            <abbr title="Computers Available">
                <span class="custom-glyphicon glyphicon-computer" aria-hidden="true"></span>
                <p1 class='labelText'>Computers available </p1><p1 id='computersFree'>: 0/0</p1>
            </abbr>
        </div>
        <div class="col-xs-4">
            <abbr title="Available for">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                <p1 class='labelText'>Available for </p1><p1 id='timeLeft'>: 0 hrs</p1>
            </abbr>
        </div>
    </div>
    <div class='row propertiesRow'>
        <div class="col-xs-4">
            <abbr title="Printer">
                <span class="custom-glyphicon glyphicon-printer" aria-hidden="true"></span>
                <p1 class='labelText'>Printer </p1><p1>: </p1><img src="{% static 'images/tick.png' %}">
            </abbr>
        </div>
        <div class="col-xs-4">
            <abbr title="Whiteboard">
                <span class="custom-glyphicon glyphicon-whiteboard" aria-hidden="true"></span>
                <p1 class='labelText'>Whiteboard </p1><p1>: </p1><img src="{% static 'images/cross.png' %}">
            </abbr>
        </div>
        <div class="col-xs-4">
            <abbr title="Projector">
                <span class="custom-glyphicon glyphicon-projector" aria-hidden="true"></span>
                <p1 class='labelText'>Projector </p1><p1>: </p1><img src="{% static 'images/cross.png' %}">
            </abbr>
        </div>
    </div>
    <div class='row'>
        <div class="col-xs-12">
            <a id='yesBtn' class="btn btn-primary btn-padded" href="#" role="button">Sounds good!</a>
        </div>
    </div>
    <div class='row'>
        <div class="col-xs-12">
            <a id='nextSuggestionBtn' class="btn btn-primary btn-padded" href="#" role="button">Not this one</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a id="likeBtn" class="btn btn-info" href="#" role="button">like</a>
        </div>
    </div>
</div>