{% extends "core/base.html" %} {% load staticfiles %} 
{% block head %} 
    <link rel="stylesheet" href="{% static 'pc/css/labsStyling.css' %}">
    <script type='text/javascript' src="{% static 'core/js/makeGraph.js' %}"></script>
    <script type='text/javascript' src="{% static 'pc/js/labsScript.js' %}"></script>
    <!-- Amchart code -->
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
    <!-- TouchSwipe code -->
    <script type="text/javascript" src="{% static 'pc/js/jquery.touchSwipe.min.js' %}"></script>
    <!-- Google Maps code -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcrXTgUVxfXVLj3rh5gIUWyYRpveHMmEs&region=GB"></script>
{% endblock %} 
{% block content %}

<div id='mainContainer'>
    <div class='arrow left-arrow'>
        <i class="fa fa-chevron-left"></i>
    </div>
    <div id='suggestion'>
        <div class="row" id='roomRow'>
            <div id='roomNameContainer'>
                <p id='roomName'></p>
            </div>
            <div id='starContainer'>
                <i class="fa fa-star fa-3x unstarred"></i>
            </div>
        </div>
        <div class="row" id='computersFreeRow'>
            <div id='computersFreeLabelContainer'>
                <p id='computersFreeLabel'>Computers free: </p>
            </div>
            <div id='computersFreeGraphContainer'>
                <div id='computersFreeNumber'></div>
                <div id='computersFreeGraph'>
                </div>
            </div>
        </div>
        <div id='currentMap'> </div>
        <div id='yesBtnContainer'>
            <a type="button" class="btn btn-success" id='yesBtn' href=''>Take me there <i class="fa fa-external-link"></i></a>
        </div>
    </div>
    <div class='arrow right-arrow'>
        <i class="fa fa-chevron-right"></i>
    </div>
</div>
<!-- Needed to prevent options menu covering up important content -->
<div id='padding' style='z-index:-1;height:40px;width:100%;text-align:center;'><i class="fa fa-gamepad"></i></div>
<!-- Options menu -->
<div id='optionsMenu'>
    <div class='triangle triangle-up'></div>
    <div id='optionsTitle'>
        <i class="fa fa-cog"></i>Options
    </div>
    <div id='optionsContent'>
        <label id='nearbyLabel' for='nearbyCheckbox'>Nearby: </label>
        <input type='checkbox' id='nearbyCheckbox' checked>
        <label id='quietLabel' for='quietCheckbox'>Unbusy: </label>
        <input type='checkbox' id='quietCheckbox' checked>
        <br>
        <label id='centralLabel' for='centralCheckbox'>Central: </label>
        <input type='checkbox' id='centralCheckbox' class='campusCheckbox' checked>
        <label id='kingsLabel' for='kingsCheckbox'>King's Buildings: </label>
        <input type='checkbox' id='kingsCheckbox' class='campusCheckbox' checked>
        <label id='lauristonLabel' for='lauristonCheckbox'>Lauriston: </label>
        <input type='checkbox' id='lauristonCheckbox' class='campusCheckbox' checked>
        <label id='holyroodLabel' for='holyroodCheckbox'>Holyrood: </label>
        <input type='checkbox' id='holyroodCheckbox' class='campusCheckbox' checked>
        <label id='otherLabel' for='otherCheckbox'>Other: </label>
        <input type='checkbox' id='otherCheckbox' class='campusCheckbox' checked>
        <br>
        <label id='locationLabel' for='locationCorrectorText'>Fix my location: </label>
        <input type='text' id='locationCorrectorText'><input value='&#xf002' type='submit' id='locationCorrectorGo'>
    </div>
</div>
{% endblock %}
