<!--options thing-->
<div class="options navbar-options">
    <div class="container-fluid" >
        <div class='row'>
            <div id='optionsTriangle' class="col-xs-12 triangle-row options-toggle">
                <div class='triangle'></div>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12 options-header options-toggle">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <p1>Options</p1>
            </div>
        </div>
    </div>
    <div class='container fullOptions'>
        <div class='row'>
            <div class="col-xs-12">
                <p1>Must be:</p1>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a class="btn btn-primary btn-toggle selected" role="button" id="nearbyBtn">Nearby</a>
                    <a class="btn btn-primary btn-toggle selected" role="button" id="emptyBtn">Empty</a>
                    <a class="btn btn-primary btn-toggle disabled" role="button">Open late</a>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12">
                <p1>Campus:</p1>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified" role="group" id='campusGroup'>
                    <a class="btn btn-primary btn-toggle selected" role="button" id='Central'>Central</a>
                    <a class="btn btn-primary btn-toggle selected" role="button" id="King's Buildings">King's <span class='hidden-xs selected'>Buildings</span></a>
                    <a class="btn btn-primary btn-toggle hidden-xs selected" role="button" id='Lauriston'>Lauriston</a>
                    <a class="btn btn-primary btn-toggle hidden-xs selected" role="button" id='Holyrood'>Holyrood</a>
                    <a class="btn btn-primary btn-toggle selected" role="button" id='Other'>Other</a>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-6">
                <a class='btn btn-primary' id='retryBtn' role='button'>Search again!</a>
            </div>
            <div class="col-xs-6">
                <a class='btn btn-primary' id='switchBtn' role='button'>Find Tutorial Room -></a>
            </div>
        </div>
    </div>
</div>